<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Christopher Moe</title>
  <meta name="description" content="Christopher Moe's Spring 2020 project">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="./CSS/styles.css">
</head>

<body class="body2">

<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid header">
    <div class="container">
      <h1 class="display-4 title">Christohper L. Moe</h1>
      <p class="lead subtitle">Full stack deveoloper always looking for fun and exciting ways to expand my skillset</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="left">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">About\Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col">
<!-- end top template -->